<div class="container">


    <div class="user-details">
     <mat-card class="card">
       <mat-card-header>
         <div mat-card-avatar class="example-header-image"></div>
         <mat-card-title>User</mat-card-title>
       <mat-icon matSuffix class="Edit">mode_edit</mat-icon>  
         <mat-card-subtitle>Phone</mat-card-subtitle>
         <mat-card-title>Prepaid/postpaid</mat-card-title>
         <!-- <div class="setting-logo">
           <img src="/assets/setting-logo.png" alt="logo" width="50px" height="50px" align="right" >
         </div> -->
       </mat-card-header>
     
 
     </mat-card>
 
     <div class="other-details">
 
       <mat-card class="card2">
       
           <mat-card-title>Details</mat-card-title>
       
         
         &nbsp;&nbsp;
   
         <mat-card-content>
           <mat-card-subtitle>Gender: Male
            
           </mat-card-subtitle>
           <mat-card-subtitle>Email:</mat-card-subtitle>
           <mat-card-subtitle>Address:</mat-card-subtitle>
     
           <mat-card-subtitle>Connection:</mat-card-subtitle>
          <!--<mat-card-subtitle>Recharge:/PayBills:</mat-card-subtitle>  --> 
         </mat-card-content>
       </mat-card>
   
      </div>
 
      <mat-card class="card3">
     <!-- <mat-card-title>History</mat-card-title> --> 
       <mat-card-content>
         <mat-card-subtitle>
         </mat-card-subtitle>
         <div class="expansion">
 
           <mat-accordion class="accordin1">
             <mat-expansion-panel> 
               <mat-expansion-panel-header>
                 <mat-panel-title>
                   Recharge
                 </mat-panel-title>
 
               </mat-expansion-panel-header>
               <h3> 1. </h3>
               <h3>2.</h3>
              
             </mat-expansion-panel>
             <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
             </mat-expansion-panel>
           </mat-accordion>
   
   
           <mat-accordion class="accordin1">
             <mat-expansion-panel> 
               <mat-expansion-panel-header>
                 <mat-panel-title>
                   My statement
                 </mat-panel-title>
 
               </mat-expansion-panel-header>
               <h3> 1. </h3>
               <h3>2.</h3>
              
             </mat-expansion-panel>
             <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
             </mat-expansion-panel>
           </mat-accordion>
   
           <mat-accordion class="accordin2" >
             <mat-expansion-panel>
               <mat-expansion-panel-header>
                 <mat-panel-title>
                   Recharge History
                 </mat-panel-title>
               
               </mat-expansion-panel-header>
               <h3> 1. </h3>
               <h3>2.</h3>
              
             </mat-expansion-panel>
             <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
             </mat-expansion-panel>
           </mat-accordion>
 
 
           <mat-accordion class="accordin3" >
             <mat-expansion-panel> 
               <mat-expansion-panel-header>
                 <mat-panel-title>
                   Invoice History
                 </mat-panel-title>
 
               </mat-expansion-panel-header>
               <h3> 1. </h3>
               <h3>2.</h3>
              
             </mat-expansion-panel>
             <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
             </mat-expansion-panel>
           </mat-accordion>
   
   
         </div>
       </mat-card-content>
     </mat-card>
 
 </div>