<!-- <div class="loader">
    <div class="outer-circle">
        <div class="inner-circle"></div>
        <div class="loading">LOADING</div>
    </div>
</div> -->
<div class="main">
        <div class="cara">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/images/1.png" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fastest 4G internet now in India</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/images/2.png" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Our best 4G prepaid plans</h5>
                    </div>
                </div>  
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/images/3.png" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Get Amazon Prime free for 30 days</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/images/4.png" alt="Fourth slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Our premium postpaid features</h5>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="secondholder">    
            <div class="prepostrech">
                <h4>Recharge & Pay Bills</h4>
                <h5>Get exciting offers and discounts</h5>
                <form action="/" method="POST">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="prepaid" default>Prepaid</option>
                            <option value="postpaid">Postpaid</option>
                            <option value="dth">DTH</option>
                            <option value="broadband">Broadband</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber1">Enter Fast Conn ID</label>
                        <input type="text" class="form-control" id="exampleInputNumber1" aria-describedby="numberHelp" placeholder="Enter Fast Conn ID">
                        <small id="numberHelp" class="form-text text-muted">We'll never share your ID with anyone else.</small>
                    </div>
                    <a  routerLink="/recharge-sucessful">
                    <button type="submit" class="btn btn-primary">Recharge</button></a>
                </form>
            </div>
        </div>
    </div>
    <div class="secondcomp">
        <h1>Experience our Services</h1>
        <p>From a wide range of premium services choose the one which suits your needs.</p>
        <div class="cardbox">
            <div class="set1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/sim.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">New SIM Prepaid</h5>
                  <p class="card-text">Buy our 4G SIMs and join the fastest 4G network till date.</p>
                  <a  routerLink="/newconnection/newprepaid" class="btn btn-primary">Buy SIM</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/sim.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">New SIM Postpaid</h5>
                  <p class="card-text">Buy our postpaid SIM, and get cashback at every recharge.</p>
                  <a routerLink="/newconnection/newpostpaid" class="btn btn-primary">Buy SIM</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/broadband.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Subscribe Broadband</h5>
                  <p class="card-text">Buy our broadband connection and enjoy seemless internet,</p>
                  <a href="#" class="btn btn-primary">Buy Fast Conn Fibre</a>
                </div>
              </div>
            </div>
              <br>
              <div class="set2">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/dth.jfif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Buy DTH</h5>
                  <p class="card-text">Buy and subscribe to our DTH packages and enjoy seemless entertainment,</p>
                  <a href="#" class="btn btn-primary">Buy DTH</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/port.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Port to Fast Conn</h5>
                  <p class="card-text">Join our premium network to enjoy unlimited calls and internet facilities.</p>
                  <a href="#" class="btn btn-primary">Port Network</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/flight.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">International Roaming</h5>
                  <p class="card-text">Join our network and enjoy the best roaming plans in the market.</p>
                  <a href="#" class="btn btn-primary">See packages</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="thirdcomp">
        <div class="sideleft">
            <h3>Let us help you choose the best plans for your Fast Conn prepaid connection.</h3>
        </div>
        <div class="sideright">
            <form action="/search-plans" method="post">
                <div class="form-group">
                    <label for="datapack">How much data you consume per day?</label>
                    <select class="form-control" id="datapack">
                        <option value="2" default>Upto 2 GB per day</option>
                        <option value="4">Upto 4 GB per day</option>
                        <option value="6">Upto 6 GB per day</option>
                        <option value="8">Upto 8 GB per day</option>
                        <option value="10">Upto 10 GB per day</option>
                        <option value="10+">More then 10 GB per day</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="datapack">How much SMS you send per day?</label>
                    <select class="form-control" id="datapack">
                        <option value="100" default>Upto 100 SMS per day</option>
                        <option value="200">Upto 200 SMS per day</option>
                        <option value="300">Upto 300 SMS per day</option>
                        <option value="400">Upto 400 SMS per day</option>
                        <option value="500">Upto 500 SMS per day</option>
                        <option value="500+">More then 500 SMS per day</option>
                    </select>
                </div>
                <a routerLink="/prepaid/plans">
                <button type="submit" class="btn btn-primary">Search Plans</button> </a>
            </form>
        </div>
    </div>

