<div class="container">
	<h1>Prepaid SIM Enrollemnt Form</h1>
		<form action="/pay-bill">
			<div class="form-group">
				<input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full Name" autofocus>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" name="email" id="email" placeholder="Email Address" >
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" id="password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="date">Date of Birth</label>
				<input type="date" class="form-control" name="date" id="date" placeholder="Date of Birth">
			</div>
			<div class="form-group">
				<select class="form-control" id="exampleFormControlSelect2">
				  <option value="default" default>Choose Gender</option>
				  <option value="M">Male</option>
				  <option value="F">Female</option>
				  <option value="X">Prefer no to Say</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="Address" id="Address" placeholder="Your address">
			</div>
			<input type="submit" value="Submit" class="btn btn-info">
		</form>
</div>
