<div class="footer-section">
    <footer>
        <div class="address">
            <h2>Fast Conn</h2>
            <p>123, Gandhi Sarani, Royal Tower, Mumbai- 400067</p>
            <div class="social">
                <a href="http://"><img src="../../assets/images/instagram.png" alt="Instagram" srcset="" class="smallicon"></a>
                <a href="http://"><img src="../../assets/images/facebook.svg" alt="Facebook" srcset="" class="smallicon"></a>
                <a href="http://"><img src="../../assets/images/linkedin.svg" alt="LinkedIn" srcset="" class="smallicon"></a>
                <a href="http://"><img src="../../assets/images/twitter.svg" alt="Twitter" srcset="" class="smallicon"></a>
            </div>
        </div>
        <pre>
            Support
            FAQ
            Contact Us
            My Account
            Find A Store
            Service Center
            My Orders- SIM & Fast Conn Fiber
            Check Plans 
            Feedback
        </pre>
    </footer>
</div>
