.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
}
.bg-custom{
    background-color: #041E42 !important;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
}
li a{
    font-size: 20px;
}
.signin{
    background-color: white;
}
.signin:hover{
    color: navy;
}